nav.navbar.bg-body-tertiary
  .container-fluid
    a.navbar-brand(href='/')
      | Commentify
    ul.nav.justify-content-end.nav-underline
      li.nav-item
        a.nav-link.active(aria-current='page' href='/') Channel ID
      li.nav-item
        a.nav-link(href='/comment') Post Comment
      li.nav-item
        a.nav-link(href='/playlist') Playlist
